@import url('https://fonts.googleapis.com/css2?family=Allison&family=Roboto:wght@400;700&display=swap');

/* Phone */
body {
    background-color: #1f1f1f;
    margin: 0;
}

header {
    background-color: #c41919;
}

#headerContainer {
    margin: auto;
    padding-top: 7px;
    padding-bottom: 5px;
    max-width: 300px;
}

header p {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px #000000;
    color: #e6e7ec;
    font-size: 35px;
    font-weight: bold;
    float: right;
}

section {
    max-width: 1000px;
    margin: auto;
}

#sectionMargin {
    margin: 0px 10px 10px;
}

#navContainerPc {
    display: none;
}

#navContainerPhone {
    clear: both;
}


nav {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    margin: auto;
}

nav a {
    font-family: 'Roboto', sans-serif;
    flex: 1;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #e6e7ec;
}

nav a:hover {
    background-color: #9d1212;
}

#carouselContainer {
    margin-top: 10px;
}

#carouselFrame {
    max-width: 100%;
}

.mySlides {
    width: 100%;
}

#carouselContainer img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

#carouselTextField, .gridTextField {
    font-family: 'Roboto', sans-serif;
    margin-top: -5px;
    padding: 10px 10px 0;
    background-color: #333436;
    color: #e6e7ec;
}

#carouselTextField h1, .gridTextField h1 {
    margin-top: 0;
}

#carouselTextField p, .gridTextField p {
    padding-bottom: 10px;
}

#gridContainer {
    margin-top: -5px;
    display: grid;
    grid-template-columns: 1fr;
}

#gridItem {
    margin-bottom: 10px;
}

.gridImg {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.gridTextField {
    padding-bottom: 10px;
}

.boldLink {
    font-weight: bold;
    color: #247ba0;
}

footer {
    background-color: #181818;
}

#footerLinks {
    font-family: 'Roboto', sans-serif;
    float: left;
    list-style: none;
    padding: 0;
    margin-left: 20px;

}

#footerLinks a {
    color: #247ba0;
}

#footerSocialMedia {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    list-style: none;
    float: right;
    margin-right: 20px;
}

#footerSocialMedia p {
    margin: 0;
    color: #e6e7ec;
}

#footerSocialMediaPc {
    display: none;
    padding: 0;
}

.newsletter {
    font-family: 'Allison', cursive;
    font-size: 35px;
    clear: both;
    text-align: center;
}

#inputEmail, #submitEmail {
    height: 35px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #e6e7ec;
}

.newsletter label{
    color: #e6e7ec;
}

#paymentOptions {
    text-align: center;
}

#paymentOptions img {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Phone destination*/

#destinationGridContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.destinationGridItem {
    margin-bottom: 10px;
}

.destinationGridItem img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.destinationGridTextField {
    font-family: 'Roboto', sans-serif;
    margin-top: -5px;
    padding: 10px;
    background-color: #333436;
    color: #e6e7ec;
}

.destinationGridTextField h1 {
    margin-top: 0;
}

.destinationGridTextField p {
    padding-bottom: 10px;
}

#removeMarginBottom{
    margin-bottom: 0;
}

/* destination specific*/
#specificDestinationGridContainer{
    margin-top: 10px;
}

#destinationInfoOutput{
    margin-bottom: 0;
    padding-bottom: 0;
}

/* sign in */
.sign-in{
    text-align: center;
}

.sign-in-form{
    font-family: 'Roboto', sans-serif;
    background-color: #333436;
    padding: 10px 5px 1px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #e6e7ec;
}

#userName, #password, #signInButton, #newUserName, #newPassword, #signUpButton{
    height: 35px;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #e1e1e1;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        background-color: #c41919;
        padding: 15px;
    }

    #centerPcHeaderContainer {
        max-width: 1000px;
        margin: auto;
    }

    #headerContainer {
        float: none;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 300px;
    }

    header p {
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px #000000;
        font-size: 35px;
        font-weight: bold;
        float: right;
    }

    #navContainerPhone {
        display: none;
    }

    #navContainerPc {
        float: right;
        display: block;
        clear: none;
        margin-top: -90px;
    }

    nav {
        background-color: #c41919;
        display: flex;
        flex-direction: row;
        margin: 0 5px 0 0;
        width: 410px;
    }

    nav a {
        font-size: 25px;
        padding: 0px;
        text-align: center;
        text-decoration: none;
        color: #e6e7ec;
        padding: 20px 0 20px 0;

    }

    section {
        clear: both;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline;
        margin: 0 5px 0 5px;

    }

    #footerLinks {
        float: none;
        padding: 5px;
        margin-left: 0;
    }

    #footerSocialMedia {
        display: none;
    }

    #footerSocialMediaPc {
        display: block;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        list-style: none;
        float: none;
        margin: 0 10px 0 10px;
    }

    #paymentOptions img {
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* Tablet destination */
    #destinationGridContainer {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}

/*	Desktop	*/
@media screen and (min-width: 1025px) {
    header {
        background-color: #c41919;
        padding: 5px;
    }

    #centerPcHeaderContainer {
        max-width: 1000px;
        margin: auto;
    }

    #headerContainer {
        float: none;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 300px;
    }

    #headerContainer img {
        height: 75px
    }

    header p {
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px #000000;
        font-size: 35px;
        font-weight: bold;
        float: right;
        margin-top: 23px;
    }

    #navContainerPhone {
        display: none;
    }

    #navContainerPc {
        float: right;
        display: block;
        clear: none;
        margin-top: -80px;
    }

    nav {
        background-color: #c41919;
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 600px;
    }

    nav a {
        font-size: 35px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        ccolor: #e6e7ec;
    }

    section {
        clear: both;

    }

    #gridContainer {
        margin-top: -5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    #gridItem {
        margin-bottom: 10px;
    }

    .gridImg {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .gridTextField {
        padding-bottom: 10px;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline;
        margin: 0 5px 0 5px;
    }

    #footerLinks {
        float: none;
        padding: 5px;
        margin-left: 0;
    }

    #footerSocialMedia {
        display: none;
    }

    #footerSocialMediaPc {
        display: block;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        list-style: none;
        float: none;
        margin: 0 10px 0 10px;
    }

    #paymentOptions img {
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* Desktop destination */
    #destinationGridContainer {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: -10px;
        gap: 10px;
    }

    /* sign in */

    #userName, #password, #signInButton, #newUserName, #newPassword, #signUpButton{
        height: 35px;
        width: 30%;
        border-radius: 5px;
        margin-bottom: 5px;
        background-color: #e1e1e1;
    }

}